<!--************************************
Inner Page Banner Start
*************************************-->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                                   Request.ApplicationPath.TrimEnd('/');
}
<style>
    .disabledAttr {
        background-color: transparent !important;
    }
    .appplySpan {
        width: 26% !important;
    color: rgb(255, 255, 255) !important;
    background-color: darkgreen !important;
    padding: 2px !important;
    border-radius: 5px !important;
    }
</style>
@using Microsoft.AspNet.Identity
@model KaamShaam.Models.ManageJobModel
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>Find Jobs</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">Available Jobs</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container" style="margin-left: 4%;width: 96%;">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">


                 @{
                     var tgConclass = "col-xs-12 col-sm-7 col-md-8 col-lg-9";
                 }
                @if (!Request.IsAuthenticated)
                {
                    tgConclass = "col-xs-12 col-sm-12 col-md-12 col-lg-12";
                }
                else
                {
                   // Html.RenderPartial("LeftMenu");
                }
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-joblisting tg-dashboardmanagejobs">
                            <div class="tg-dashboardhead">
                                <div class="tg-dashboardtitle">
                                    <h2>Available Jobs</h2>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <p style="padding: 2px; border: 1px solid black; color: red; border-radius: 5px;">Note: Please click any job to view details and apply</p>
                                    }
                                    else
                                    {
                                        <p style="padding: 2px;border: 1px solid black;color: red;border-radius: 5px;">You need to login to apply on the jobs.</p>

                                    }


                                  </div>
                                @*<a href="~/job/PostJob"><button class="tg-btnaddservices" data-toggle="modal" data-target=".tg-categoryModal">Post A New Job</button></a>*@
                            </div>
                            <div class="tg-sortfilters">
                                <div class="tg-sortfilter tg-sortby">
                                    <span style="margin-top: 6px;">Sort By:</span>
                                    <div class="tg-select">
                                        <select id="sortDd" onchange="sortByChanged()" style="height: 41px;">
                                            <option value="Title">Title</option>
                                            <option value="Category">Category</option>
                                            <option value="Date">Date</option>
                                            <option value="Fee">Fee</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tg-sortfilter tg-arrange">
                                    <input type="text" class="form-control" placeholder="Search Jobs..." id="searchJob" value="@Model.Str"/>
                                    @*<span>Arrange:</span>
                                        <div class="tg-select">
                                            <select id="sortOrderDd" onchange="sortOrderByChanged()">
                                                <option value="Aes">Ascending</option>
                                                <option value="Des">Descending</option>
                                            </select>
                                        </div>*@
                                </div>
                                <div class="tg-sortfilter tg-show">
                                    <span style="margin-top: 5px;">Jobs/Page: </span>
                                    <div class="tg-select">
                                        <select onchange="itemsPerPageChanged()" id="itemsPerPageDd" style="padding-left: 95px;height: 41px;">
                                            <option value="2">2</option>
                                            <option value="4">4</option>
                                            <option value="1000">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tg-sortfilter">
                                    <button id="jobPrevious" class="btn btn-default" style="height: 41px;"><</button>
                                </div>
                                <div class="tg-sortfilter tg-show" style="margin-left: 3px;margin-top: 6px;">
                                    <strong><span id="currentPage" style="margin-left: -6px;">15</span></strong>
                                    <span style="margin-left: 17px">of</span>
                                    <strong><span id="totalPage" style="margin-left: 42px;">30</span></strong>
                                </div>
                                <div class="tg-sortfilter" style="margin-left: 10%;">
                                    <button id="jobNext" class="btn btn-default" style="height: 41px;">></button>
                                </div>
                                <img class="displayNone" src="~/Images/ajax-loader.gif" id="adminLoading" style="display: none;margin-left: 21px;margin-top: 10px;" />
                            </div>
                            <table class="tg-tablejoblidting">
                                <tbody id="manage-Job-Body">
                                    @{
                                        foreach (var item in Model.JobsList)
                                        {
                                            var cusStyle = "    width: 50%;";
                                            var iApplied = "";
                                            var isAppliedClass = "";

                                            if (!item.UserStatus)
                                            {
                                                cusStyle = cusStyle + " background-color: #ffeb99;";
                                            }
                                            if (item.IfIApplied)
                                            {
                                                iApplied = "[Applied]";
                                                isAppliedClass = "appplySpan";
                                            }
                                            if (User.IsInRole("Contractor"))
                                            {
                                                item.Mobile = item.Mobile;
                                            }
                                            else
                                            {
                                                item.Mobile = "NA";
                                            }
                                            var jobimg = baseUrl+"/Images/NewCatsIcons/" + item.CategoryId + ".png";
                                            <tr style="cursor: pointer;" data-toggle="modal" data-target="#updateJob" onclick="editJob(@Json.Encode(item))">
                                                <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <figure class="tg-companylogo">
                                                        <img src="@jobimg" alt="image description">
                                                        <a class="tg-btndel" href="#"></a>

                                                    </figure>
                                                    <div class="tg-contentbox">
                                                        <a class="tg-tag tg-featuredtag" >@item.PostingDate</a>
                                                        <div class="tg-title">
                                                            <h3>
                                                                <a href="#">@item.CatName Required</a> <span class="@isAppliedClass">@iApplied</span>                                                            </h3>
                                                        </div>
                                                        <a href="#"><span style="visibility: hidden;height: 1px;">tempo text to show we exist dfdf dfd fd fd sdfsdf sdfsdf dsf sdf df sdfsd</span></a>

                                                        <p style="display: inline-block; text-align: left; float: left">@item.JobTitle </p>
                                                       @{
                                                           if (item.IsApproved)
                                                           {
                                                            <a style='background-color: #ff7a36; color: white; margin-left: 10px;' class="tg-tag tg-featuredtag" href="#">Approved</a>
                                                           }
                                                    }
                                                    </div>
                                                </td>
                                                <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>@item.LocationName</p></td>
                                                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    @if (User.IsInRole("Contractor"))
                                                    {
                                                        <span>@item.Mobile</span>
                                                    }
                                                    else
                                                    {
                                                        <span>03xxxxxxxxx</span>

                                                    }
                                                    <span>@item.Email</span>
                                                </td>
                                                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span>Rs. @item.Fee</span></td>
                                            </tr>
                                           }
                                            if (Model.JobsList==null || Model.JobsList.Count==0)
                                            {
                                                <tr><td>No Jobs Found. Try Later.</td></tr> 
                                            }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    .width45 {
        width: 47%;
    }
</style>
@{
    var cats = new List<SelectListItem>();
    if (Model.Categories != null && Model.Categories.Any())
    {
        foreach (var cat in Model.Categories)
        {
            cats.Add(new SelectListItem { Text = cat.Name, Value = cat.Id.ToString() });
        }
    }
}
<!-- basic info -->
<div class="modal fade" id="updateJob" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Job Details</h3>
            </div>
            <div class="modal-body" style="height: 300px; padding: 4%;">

                <!-- content goes here -->
                <div class="form-group">
                    <label> Job Title & Description</label>
                    <textarea class="form-control disabledAttr" disabled="" id="jobTitle"></textarea>
                </div>

                <div class="form-group width45">
                    <label> Category</label>
                    <input type="text" class="form-control disabledAttr" disabled="" id="jobCat">
                    @*@Html.DropDownList("selection", cats, new { @class = "form-control disabledAttr", @id = "jobCat" })*@
                </div>
                <div class="form-group width45" style="margin-left: 29px">
                    <label> Fee</label>
                    <input type="text" class="form-control disabledAttr" id="jobFee" disabled="">
                </div>
                <div class="form-group width45">
                    <label> Mobile</label>
                    <input type="text" class="form-control disabledAttr" id="jobMobile" disabled="">
                </div>
                @*<div class="form-group width45" style="margin-left: 29px">
                    <label> Email</label>
                    <input type="email" class="form-control disabledAttr" id="jobEmail" disabled="">
                </div>*@
            </div>
            @{
                var attr = "style=display:none;";
                if (User.IsInRole("Contractor"))
                {
                    attr = "";
                }
                var loogedinId = System.Web.HttpContext.Current.User.Identity.GetUserId();

                if (User.IsInRole("User") && !string.IsNullOrEmpty(loogedinId))
                {
                    attr = "style=display:none;";
                }
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" id="save-Basic-info-btn" @attr class="btn btn-primary btn-hover-green" data-action="save" role="button" onclick=" applyJob() ">Apply</button>

                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>

<!--************************************
        Main End
*************************************-->
<script src="~/Scripts/vendor/jquery-library.js"></script>

<script>

    var pageDataObj=@Html.Raw(Json.Encode(Model.Pagging));
    var objtoedit = undefined;
    $(document).ready(function() {
        setPage(pageDataObj);
    });
    function editJob(obj) {
        $("#jobTitle").val(obj.JobTitle);
        //  $("#jobCat").val(obj.CategoryId);
        $("#jobCat").val(obj.CatName);
        $("#jobFee").val(obj.Fee);
        $("#jobMobile").val(obj.Mobile);
        $("#jobEmail").val(obj.Email);
        if (obj.IfIApplied) {
            $("#save-Basic-info-btn").text('Cancel Job').css('background-color','orange');
        } else {
            $("#save-Basic-info-btn").text('Apply Job').css('background-color','green');
        }
        objtoedit = obj;
    }
   
    function opPerformed(data) {
        toastr.success("Success");
        $('#manage-Job-Body').html(data);
        $('#updateJob').modal('hide');
        $('#adminLoading').hide();
    }
    function postMydata(serverObj, url, successFunc) {
        $('#adminLoading').show();
        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify(serverObj),
            success: successFunc,
            error: function (data) {
                $('#adminLoading').hide();
                toastr.error("Job failed to update");
            }
        });
    }
    function applyJob() {
        var serverObj = {};
        serverObj.Id = objtoedit.Id;
        serverObj.PurposalText = "I am intrested in your posted job.";
        serverObj.IfIApplied = !objtoedit.IfIApplied;
        var wraperObj = {};
        wraperObj.JobModel = serverObj;
        wraperObj.PageObj = pageDataObj;
        postMydata(wraperObj, "ApplyJob", opPerformed);
        pageDataObj.TotalItems --;
        setPage(pageDataObj);
    }

    function setPage(pageObj) {
        $("#sortDd").val(pageObj.SortBy);
        $("#sortOrderDd").val(pageObj.SortOrder);
        $("#itemsPerPageDd").val(pageObj.ItemsPerPage);
        $("#currentPage").text(pageObj.CurrentPage);
        var tPages = pageObj.TotalItems / pageObj.ItemsPerPage;
        if (pageObj.TotalItems % pageObj.ItemsPerPage > 0)
        {
            tPages++;
        }
        pageObj.TotalPages = parseInt(tPages);
        $("#totalPage").text(parseInt(tPages));
        if (pageObj.CurrentPage === pageObj.TotalPages) {
            $("#jobNext").prop('disabled', true);
        } else {
            $("#jobNext").prop('disabled', false);
        }

        if (pageObj.CurrentPage === 1) {
            $("#jobPrevious").prop('disabled', true);
        } else {
            $("#jobPrevious").prop('disabled', false);
        }
    }

    $("#jobNext").click(function() {
        pageDataObj.SearchTerm = $('#searchJob').val() || "";
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });
    $("#jobPrevious").click(function() {
        pageDataObj.SearchTerm = $('#searchJob').val() || "";
        pageDataObj.CurrentPage = pageDataObj.CurrentPage - 2;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });
    function upDatePage(data) {
        $('#manage-Job-Body').html(data);
        setPage(pageDataObj);
        $('#adminLoading').hide();
    }

    function sortByChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#sortDd").val();
        pageDataObj.SortBy = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }

    function sortOrderByChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#sortOrderDd").val();
        pageDataObj.SortOrder = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }

    function itemsPerPageChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#itemsPerPageDd").val();
        pageDataObj.ItemsPerPage = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }
    function getSortedJobs() {
        postMydata(pageDataObj, "FindJobsSorted", upDatePage);
    }

    $('#searchJob').keyup(function() {
        pageDataObj.CurrentPage = 0;
        pageDataObj.SearchTerm = $(this).val();
        pageDataObj.CategoryId = $('#jobCatList').val();
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });

    setTimeout(function() {
        $(".findjobpage").addClass('tg-active');
    },2000);
</script>