@using KaamShaam.Commons
@model KaamShaam.Models.JobPartialPageModel

@{

    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                                   Request.ApplicationPath.TrimEnd('/');
    if (Model != null)
    {
        foreach (var item in Model.JobList.ToList())
        {
            var cusStyle = "    width: 50%;";
            var adminsus = "";
            var iApplied = "";
            var isAppliedClass = "";

            if (!item.UserStatus)
            {
                cusStyle = cusStyle + " background-color: #ffeb99;";
            }
            if (item.IfIApplied)
            {
                iApplied = "[Applied]";
                isAppliedClass = "appplySpan";
            }

            var showStartedText = false;
            var jhistory = item.JobHistory.FirstOrDefault();
            if (jhistory != null)
            {
                if (jhistory.JobStatus == (int)Enums.JobHistoryStatus.Continue)
                {
                    showStartedText = true;
                }
            }

            var completed = false;
            var modelSmn = "data-toggle=modal data-target=#updateJob";
            if (jhistory != null && jhistory.JobStatus == (int)Enums.JobHistoryStatus.End)
            {
                modelSmn = "";
                completed = true;
            }

            var jobimg = baseUrl + "/Images/NewCatsIcons/" + item.CategoryId + ".png";
            <tr style='cursor: pointer;' @modelSmn onclick="editJob(@Json.Encode(item))">
                <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <figure class="tg-companylogo">
                        <img src="@jobimg" alt="image description">
                        <a class="tg-btndel" href="#"></a>
                    </figure>
                    <div class="tg-contentbox" style="">
                        <a class="tg-tag tg-featuredtag" href="#">@item.PostingDate</a>
                        @{
                            if (!item.AdminStatus)
                            {
                                <a style='background-color: red; color:white' class="tg-tag tg-featuredtag" href="#">Admin Suspended</a>
                            }
                        }
                        <a href="#"><span style="visibility: hidden;">tempo text to show we exist dfdf dfd fd fd sdfsdf sdfsdf dsf sdf df sdfsd</span></a>
                        <div class="tg-title" style="margin-top: -20px;">
                            <h3>
                                <a href="#">@item.CatName Required</a> <span class="@isAppliedClass">@iApplied</span>
                            </h3>
                        </div>
                        <p style="display: inline-block;text-align: left;float: left;">@item.JobTitle </p>
                        @if (showStartedText)
                        {
                            <span class="jobstartedspan">[started]</span>
                        }
                        @{
                            if (completed)
                            {
                                <a style='background-color: #2196F3;; color: white; margin-left: 2px;' class="tg-tag tg-featuredtag" href="#">Closed</a>
                            }
                            if (item.IsApproved)
                            {
                                <a style='background-color: #ff7a36; color: white; margin-left: 2px;' class="tg-tag tg-featuredtag" href="#">Approved</a>
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.Feedback))
                                {
                                    <a style='background-color: red; color: white' class="tg-tag tg-featuredtag" href="#">Rejected</a>
                                    <span>[Admin Feedback]</span> <span>@item.Feedback</span>
                                }
                                else
                                {
                                    <a style='background-color: cadetblue; color: white; margin-left: 2px;' class="tg-tag tg-featuredtag" href="#">Approval pending</a>
                                }
                            }

                        }
                    </div>
                </td>
                <td  class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>@item.LocationName</p></td>
                <td  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span>@item.Mobile</span>
                    <span>@item.Email</span>
                </td>
                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><span>Rs. @item.Fee</span></td>
            </tr>
                            }
        <script>
        pageDataObj=@Html.Raw(Json.Encode(Model.Page));
        </script>
    }
}

<style>
    .appplySpan {
        width: 26% !important;
        color: rgb(255, 255, 255) !important;
        background-color: green !important;
        padding: 2px !important;
        border-radius: 5px !important;
    }
    .jobstartedspan {
            display: inline !important;
    width: 24% !important;
    background-color: green !important;
    color: white !important;
    padding: 2px !important;
    border-radius: 5px !important;
    }
</style>