<!--************************************
Inner Page Banner Start
*************************************-->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                                   Request.ApplicationPath.TrimEnd('/');
}

@using KaamShaam.Commons
@model KaamShaam.Models.ManageJobModel
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>Jobs</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">Jobs</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">

                @{ Html.RenderPartial("LeftMenu");}
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-joblisting tg-dashboardmanagejobs">
                            <div class="tg-dashboardhead">
                                <div class="tg-dashboardtitle">
                                    <h2>Manage Jobs</h2>
                                </div>
                                <a href="~/job/PostJob"><button class="tg-btnaddservices" data-toggle="modal" data-target=".tg-categoryModal">Post A New Job</button></a>
                            </div>
                            <div class="tg-sortfilters">
                                <div class="tg-sortfilter tg-sortby">
                                    <span>Sort By:</span>
                                    <div class="tg-select">
                                        <select id="sortDd" onchange="sortByChanged()">
                                            <option value="Title">Title</option>
                                            <option value="Category">Category</option>
                                            <option value="Date">Date</option>
                                            <option value="Fee">Fee</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tg-sortfilter tg-arrange">
                                    <input type="text" class="form-control" placeholder="Search Jobs..." id="searchJob" />
                                    @*<span>Arrange:</span>
                                    <div class="tg-select">
                                        <select id="sortOrderDd" onchange="sortOrderByChanged()">
                                            <option value="Aes">Ascending</option>
                                            <option value="Des">Descending</option>
                                        </select>
                                    </div>*@
                                </div>
                                <div class="tg-sortfilter tg-show">
                                    <span>Jobs/Page: </span>
                                    <div class="tg-select">
                                        <select onchange="itemsPerPageChanged()" id="itemsPerPageDd" style="padding-left: 95px;">
                                            <option value="2">2</option>
                                            <option value="4">4</option>
                                            <option value="1000">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tg-sortfilter">
                                    <button id="jobPrevious" class="btn btn-default"><</button>
                                </div>
                                <div class="tg-sortfilter tg-show" style="margin-left: 3px;">
                                    <strong><span id="currentPage" style="margin-left: -6px;">15</span></strong>
                                    <span style="margin-left: 17px">of</span> 
                                   <strong><span id="totalPage" style="margin-left: 42px;">30</span></strong>
                                </div>
                                <div class="tg-sortfilter" style="margin-left: 10%;">
                                    <button id="jobNext" class="btn btn-default">></button>
                                </div>
                                <img class="displayNone" src="~/Images/ajax-loader.gif" id="adminLoading" style="display: none;margin-left: 21px;margin-top: 10px;" />
                            </div> 
                            <table class="tg-tablejoblidting">
                                <tbody id="manage-Job-Body">
                                @{
                                    foreach (var item in Model.JobsList)
                                    {
                                        var cusStyle = "";
                                        if (!item.UserStatus)
                                        {
                                            cusStyle = cusStyle+" background-color: #ffeb99;";
                                        }
                                        var showStartedText = false;
                                        var jhistory = item.JobHistory.FirstOrDefault();
                                        if (jhistory != null)
                                        {
                                            if (jhistory.JobStatus == (int)Enums.JobHistoryStatus.Continue)
                                            {
                                                showStartedText = true;
                                            }
                                        }
                                        <tr style="cursor: pointer;" data-toggle="modal" data-target="#updateJob" onclick="editJob(@Json.Encode(item))">
                                            <td style="@cusStyle">
                                                <figure class="tg-companylogo">
                                                    <img src="@baseUrl/Images/contractor-dashboard/small1.jpg" alt="image description">
                                                    <a class="tg-btndel" href="#"><i class="fa fa-close"></i></a>

                                                </figure>
                                                <div class="tg-contentbox">
                                                    <a class="tg-tag tg-featuredtag" href="#">@item.PostingDate</a>
                                                    <div class="tg-title">
                                                        <h3>
                                                            <a href="#">@item.CatName Required</a>
                                                        </h3>
                                                    </div>
                                                    <span>@item.JobTitle </span>
                                                     @if (showStartedText)
                                                     {
                                                        <span class="jobstartedspan">[started]</span>
                                                     }
                                                </div>
                                            </td>
                                            <td style="line-height: 12px; padding-top: 29px;"><span>@item.LocationName</span></td>
                                            <td style="line-height: 18px; padding-top: 27px;"><span>@item.Mobile</span>
                                                <span>@item.Email</span>
                                            </td>
                                            <td><span>Rs. @item.Fee</span></td>
                                        </tr>
                                    }
                                }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    .width45 {
        width: 47%
    }
    .jobstartedspan {
            display: inline !important;
    width: 24% !important;
    background-color: green !important;
    color: white !important;
    padding: 2px !important;
    border-radius: 5px !important;
    }
</style>
@{
    var cats = new List<SelectListItem>();
    if (Model.Categories != null && Model.Categories.Any())
    {
        foreach (var cat in Model.Categories)
        {
            cats.Add(new SelectListItem { Text = cat.Name, Value = cat.Id.ToString() });
        }
    }
}
<!-- basic info -->
<div class="modal fade" id="updateJob" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Edit Job</h3>
            </div>
            <div class="modal-body" style="height:300px; padding: 4%;">

                <!-- content goes here -->
                <div class="form-group">
                    <label> Job Title & Description</label>
                    <input type="text" class="form-control editJobVal" id="jobTitle">
                </div>

                <div class="form-group width45">
                    <label> Category</label>
                    @Html.DropDownList("selection", cats, new { @class = "form-control", @id = "jobCat" })
                </div>
                <div class="form-group width45" style="margin-left: 29px">
                    <label> Fee</label>
                    <input type="text" class="form-control editJobVal" id="jobFee">
                </div>
                <div class="form-group width45">
                    <label> Mobile</label>
                    <input type="text" class="form-control editJobVal" id="jobMobile">
                </div>
                <div class="form-group width45" style="margin-left: 29px">
                    <label> Email</label>
                    <input type="email" class="form-control editJobVal" id="jobEmail">
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button onclick="suspendJob()" id="suspendBtn" type="button" class="btn btn-warning" data-dismiss="modal" role="button">Suspend</button>
                    </div>

                    <div class="btn-group" role="group">
                        <button onclick="deleteJob()" type="button" class="btn btn-danger" data-dismiss="modal" role="button">Delete</button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" id="save-Basic-info-btn" class="btn btn-primary btn-hover-green" data-action="save" role="button" onclick=" saveJob() ">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--************************************
        Main End
*************************************-->
<script src="~/Scripts/vendor/jquery-library.js"></script>

<script>

    var pageDataObj=    @Html.Raw(Json.Encode(Model.Pagging));
    var objtoedit = undefined;
    $(document).ready(function() {
        setPage(pageDataObj);
    });
    function editJob(obj) {
        $("#jobTitle").val(obj.JobTitle);
        $("#jobCat").val(obj.CategoryId);
        $("#jobFee").val(obj.Fee);
        $("#jobMobile").val(obj.Mobile);
        $("#jobEmail").val(obj.Email);
        if (obj.UserStatus) {
            $("#suspendBtn").text('Suspend');
        } else {
            $("#suspendBtn").text('Resume');
        }
        objtoedit = obj;
    }
    function saveJob() {
        if (!ValidateByClassName('editJobVal')) {
            toastr.warning("Please fill-up data");
            return false;
        }
        var serverObj = {};
        serverObj.JobTitle = $("#jobTitle").val();
        serverObj.CategoryId = $("#jobCat").val();
        serverObj.Fee = $("#jobFee").val();
        serverObj.Mobile = $("#jobMobile").val();
        serverObj.Email = $("#jobEmail").val();
        serverObj.Id = objtoedit.Id;
        var wraperObj = {};

        wraperObj.JobModel = serverObj;
        wraperObj.PageObj = pageDataObj;

        postMydata(wraperObj, "EditJobDone", opPerformed);
    }
    function opPerformed(data) {
        toastr.success("Operation performed");
        $('#manage-Job-Body').html(data);
        $('#updateJob').modal('hide');
        $('#adminLoading').hide();
    }
    function postMydata(serverObj, url, successFunc) {
        $('#adminLoading').show();
        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify(serverObj),
            success: successFunc,
            error: function (data) {
                $('#adminLoading').hide();
                toastr.error("Job failed to update");
            }
        });
    }
    function deleteJob() {
        var serverObj = {};
        serverObj.Id = objtoedit.Id;
        var wraperObj = {};
        wraperObj.JobModel = serverObj;
        wraperObj.PageObj = pageDataObj;
        postMydata(wraperObj, "DeleteJob", opPerformed);
        pageDataObj.TotalItems --;
        setPage(pageDataObj);

    }

    function setPage(pageObj) {
        $("#sortDd").val(pageObj.SortBy);
        $("#sortOrderDd").val(pageObj.SortOrder);
        $("#itemsPerPageDd").val(pageObj.ItemsPerPage);
        $("#currentPage").text(pageObj.CurrentPage);
        var tPages = pageObj.TotalItems / pageObj.ItemsPerPage;
        if (pageObj.TotalItems % pageObj.ItemsPerPage > 0)
        {
            tPages++;
        }
        pageObj.TotalPages = parseInt(tPages);
        $("#totalPage").text(parseInt(tPages));
        if (pageObj.CurrentPage === pageObj.TotalPages) {
            $("#jobNext").prop('disabled', true);
        } else {
            $("#jobNext").prop('disabled', false);
        }

        if (pageObj.CurrentPage === 1) {
            $("#jobPrevious").prop('disabled', true);
        } else {
            $("#jobPrevious").prop('disabled', false);
        }
    }

    $("#jobNext").click(function() {
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });
    $("#jobPrevious").click(function() {
        pageDataObj.CurrentPage = pageDataObj.CurrentPage - 2;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });
    function upDatePage(data) {
        $('#manage-Job-Body').html(data);
        setPage(pageDataObj);
        $('#adminLoading').hide();
    }
    
    function sortByChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#sortDd").val();
        pageDataObj.SortBy = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }

    function sortOrderByChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#sortOrderDd").val();
        pageDataObj.SortOrder = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }

    function itemsPerPageChanged() {
        pageDataObj.CurrentPage = 0;
        var val = $("#itemsPerPageDd").val();
        pageDataObj.ItemsPerPage = val;
        getSortedJobs();
        pageDataObj.CurrentPage++;
    }
    function getSortedJobs() {
        postMydata(pageDataObj, "GetSortedJobs", upDatePage);  
    }
    function suspendJob() {
        var serverObj = {};
        serverObj.Id = objtoedit.Id;
        serverObj.UserStatus = objtoedit.UserStatus;
        var wraperObj = {};
        wraperObj.JobModel = serverObj;
        wraperObj.PageObj = pageDataObj;
        postMydata(wraperObj, "SuspendJob", opPerformed);
    }

    $('.li-manage-jobs').addClass('tg-active');

    $('#searchJob').keyup(function() {
        pageDataObj.CurrentPage = 0;
        pageDataObj.SearchTerm = $(this).val();
        pageDataObj.CategoryId = $('#jobCatList').val();
        getSortedJobs();
        pageDataObj.CurrentPage++;
    });
</script>