@{
    Layout = null;
}

@{
//Layout = null;
}
@using Microsoft.AspNet.Identity
@model KaamShaam.LocalModels.MapPlaceWrapper
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/linearicons.css">
    <link rel="stylesheet" href="~/Content/scrollbar.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/jquery.countdown.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/transitions.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/color.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <title>Welcome - KaamShaam</title>
    <style>
        .tg-infoBox{
           padding: 11px!important; 
        }
         .ajaxloader {
             margin-top: 12px;
             display: inline;
             margin-left: 10px;
         }
        .customField {
            margin-left: 45px !important;
        }

        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        .modal-backdrop {
            z-index: 10;
        }
        #jobCatList {
            margin-top: 18px
        }
        ​ #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
            z-index: 20;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        #target {
            width: 345px;
        }

        .modal {
            z-index: 20;
        }
    </style>
</head>
<body class="tg-home tg-login">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
            Preloader Start
    *************************************-->
    <div class="preloader-outer">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>
    <!--************************************
            Preloader End
    *************************************-->
    <!--************************************
            Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--************************************
        Header Start
        *************************************-->
        @{
            string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                                   Request.ApplicationPath.TrimEnd('/');
            var userImg = System.Web.HttpContext.Current.User.Identity.GetUserId() + "_35.png";
            userImg = KaamShaam.AppUtils.Common.ReturnImage(baseUrl + "/Images/Profiles/" + userImg, "35x35");

        }
        @{
            var disCatStyle = "";
            if (Request.IsAuthenticated && User.IsInRole("Contractor"))
            {
                disCatStyle = "display:none";
            }
        }
        <header id="tg-header" class="tg-header tg-haslayout">
            <div class="tg-topbar tg-haslayout" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="tg-addressinfo">
                                <li>
                                    <i class="lnr lnr-envelope"></i>
                                    <a href="mailto:contact@kamsham.com">contact@kamsham.com</a>
                                </li>
                                <li>
                                    <i class="lnr lnr-phone-handset"></i>
                                    <span>+92 3214458064</span>
                                </li>
                            </ul>
                            <div class="tg-themedropdown tg-languagesdropdown">
                                <a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <em><img src="@baseUrl/Images/flags/img-01.jpg" alt="image description"></em>
                                    <span>eng</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="tg-dropdownmenu" aria-labelledby="tg-languages">
                                    <li class="tg-active">
                                        <a href="#">
                                            <em><img src="~/Images/flags/img-03.jpg" alt="image description"></em>
                                            <span>eng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <em><img src="~/Images/flags/img-04.jpg" alt="image description"></em>
                                            <span>urdu</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tg-adminbox">
                                <div class="tg-loginregister" style="display: block; padding: 0px;    margin-top: 13px;">
                                    @if (Request.IsAuthenticated)
                                    {
                                        @*<a class="tg-btnlogin" href="~/Account/LogOff">Logout (@User.Identity.GetUserName()) </a>*@

                                        <div class="tg-useradminbox" style="display:block;    margin-top: -12px;">
                                            <div class="tg-themedropdown tg-userdropdown">
                                                <a href="#" id="tg-usermenu" class="tg-btndropdown">
                                                    <em><img src="@userImg" alt="" style="height: 35px!important; width: 35px !important"></em>
                                                    <span>Hi! @Session["UserName"]</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <div class="tg-dropdownmenu tg-usermenu" aria-labelledby="tg-usermenu">
                                                    <nav id="tg-dashboardnav" class="tg-dashboardnav">
                                                        <ul>
                                                            @*<li>
                                                                    <a href="dashboardappointment.php">
                                                                        <i class="lnr lnr-calendar-full"></i>
                                                                        <span>Appointments</span>
                                                                    </a>
                                                                </li>*@
                                                            <li class="li-profile-setting">
                                                                <a href="/Profile/Update">
                                                                    <i class="lnr lnr-cog"></i>
                                                                    <span>Profile Settings</span>
                                                                </a>
                                                            </li>
                                                            <li class="li-manage-jobs">
                                                                <a href="~/Appointment/Upcoming">
                                                                    <i class="lnr lnr-map"></i>
                                                                    <span>Appointments</span>
                                                                </a>
                                                            </li>
                                                            @{
                                                                if (User.IsInRole("User"))
                                                                {
                                                                    <li class="li-manage-jobs">
                                                                        <a href="~/Job/ManageJobs">
                                                                            <i class="lnr lnr-map"></i>
                                                                            <span>Manage Jobs</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="li-manage-jobs">
                                                                        <a href="~/Job/jobProposals">
                                                                            <i class="lnr lnr-map"></i>
                                                                            <span>Job Proposals & Rating</span>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                            @{
                                                                if (User.IsInRole("Contractor"))
                                                                {
                                                                    <li class="li-manage-jobs">
                                                                        <a href="~/Job/findJobs">
                                                                            <i class="lnr lnr-map"></i>
                                                                            <span>Find Jobs</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="li-manage-jobs">
                                                                        <a href="~/Job/appliedJobs">
                                                                            <i class="lnr lnr-map"></i>
                                                                            <span>Applied Jobs</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="li-manage-jobs">
                                                                        <a href="~/Job/MyCurrentJobs">
                                                                            <i class="lnr lnr-map"></i>
                                                                            <span>Current Jobs</span>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                            @*<li>
                                                                    <a href="dashboardsecuritysetting.php">
                                                                        <i class="lnr lnr-construction"></i>
                                                                        <span>Security Settings</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="dashboardprivacysetting.php">
                                                                        <i class="lnr lnr-lock"></i>
                                                                        <span>Privacy Settings</span>
                                                                    </a>
                                                                </li>*@
                                                            <li>
                                                                <a href="~/Account/LogOff">
                                                                    <i class="lnr lnr-exit"></i>
                                                                    <span>Logout</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                                                }
                                                                else
                                                                {
                                                                    <a class="tg-btnlogin" href="~/Account/Register">Login / Register </a>
                                                                    @*<a class="tg-btnregister" href="admin/admin.php"> Admin</a>*@
                                                                }

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tg-navigationarea">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            @{

                                <strong class="tg-logo"><a href="~/Home/index"><img src="@baseUrl/Images/logo.png" alt="image description"></a></strong>

                            }
                            <div class="tg-rightarea">
                                <nav id="tg-nav" class="tg-nav">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                        <ul>
                                            <li><a href="@baseUrl/Home/Index">Home</a></li>
                                            <li><a href="@baseUrl/Home/About">About Us</a></li>
                                            @*<li><a href="#">How It Works</a></li>*@
                                           @if (Request.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Contractor")))
                                           {
                                               <li class="">
                                                   @if (User.IsInRole("User"))
                                                   {
                                                       <a href="@baseUrl/profile/Update">Dashboard</a>
                                                   }
                                                   else if (User.IsInRole("Contractor"))
                                                   {
                                                       <a href="@baseUrl/profile/Update">Dashboard</a>
                                                   }
                                               </li>
                                               <li>
                                                   <a href="@baseUrl/account/LogOff">Logout</a>
                                               </li>
                                           }
                                           else
                                           {
                                            <li>
                                                <a href="@baseUrl/account/login">Register/Login</a>
                                            </li>
                                           }
                                            <li><a href="@baseUrl/Home/Contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                @{
                                    if (Request.IsAuthenticated)
                                    {
                                        if (User.IsInRole("User"))
                                        {
                                            <a class="tg-btn tg-btnpostanewjob" href="~/job/PostJob">Post A New Job</a>
                                        }
                                        else if (User.IsInRole("Contractor"))
                                        {
                                            <a class="tg-btn tg-btnpostanewjob" href="~/Job/findJobs">Find Jobs</a>
                                        }
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-main" class="tg-main tg-haslayout tg-paddingzero">
            <div id="tg-content" class="tg-content">
                <div class="tg-listing tg-listview tg-listingvtwo">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 pull-right">
                    <div class="row">
                        <div id="tg-map" class="tg-map col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 580px"></div>
                        <div class="tg-mapcontrols">
                            <span id="doc-mapplus" title="Zoom In"><i class="fa fa-plus"></i></span>
                            <span id="doc-mapminus" title="Zoom Out"><i class="fa fa-minus"></i></span>
                            @*<span id="doc-lock"><i class="fa fa-lock"></i></span>
                            <span id="tg-geolocation"><i class="fa fa-crosshairs"></i></span>*@
                        </div>
                    </div>
                </div>
                    @{
                        List<SelectListItem> cats = new List<SelectListItem>();
                        cats.Add(new SelectListItem
                        {
                            Text = "All",
                            Value = "0"
                        });
                        if (Model.CatsList != null && Model.CatsList.Any())
                        {
                            foreach (var cat in Model.CatsList)
                            {
                                cats.Add(new SelectListItem { Text = cat.Name, Value = cat.Id.ToString() });
                            }
                        }
                    }
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left">
                        <div class="row">
                            <div class="tg-serviceproviders">
                                <form class="tg-themeform tg-formsearch" style="padding-right: 0px;width: 105%;padding-bottom: 0px;">
                                    <fieldset style="padding: 0px">

                                        <div class="form-group" style="width: 100%;">
                                            <div class="locate-me-wrap">
                                                <div id="location-pickr-map" class="elm-display-none"></div>
                                                <input type="text" autocomplete="on" id="locationName" value="" name="geo_location" placeholder="Geo location" class="form-control">
                                                <a href="javascript:;" title="Show Map" class="geolocate" onclick="openMap()" style="margin-right: -16px; margin-top: -29px"><i class="fa fa-crosshairs" data-target="#addressmodel" data-toggle="modal"></i></a>
                                                <a href="javascript:;" class="geodistance"></a>
                                                <div style="margin-top: 12px;">
                                                    <div class="distance-ml">Distance in&nbsp;(km) &nbsp;<span>10</span></div>
                                                    <input type="hidden" id="locDistance" name="geo_distance" value="10" class="geo_distance"/>
                                                    <div class="geo_distance" id="geo_distance"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-left: 0px;width: 100%;">
                                            @Html.DropDownList("selection", cats, new { @class = "form-control", @id = "jobCatList" })
                                        </div>

                                            <div class="form-group" style=" ">
                                                @*<input type="button" style="margin-left: 12px; width: 65%;" class="form-control btn btn-primary" onclick="searchContractors()" value="Search"/>*@
                                                <img class="ajaxloader" id="adminLoading" src="~/Images/ajax-loader.gif" style="margin-left: 160%;"/>
                                            </div>
</fieldset>
                                    @*<a id="tg-btnadvancefilters" class="tg-btnadvancefilters" href="javascript:void(0);">
                                        <span>Advanced Filters</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>*@
                                </form>
                                <div class="tg-advancedfilters">
                                    <form class="tg-themeform tg-formrefinesearch">
                                        <fieldset>
                                            <h4>  Categories</h4>
                                            <div class="tg-checkboxgroup">
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="tg-cabservice" name="subcategories" value="Any" checked="">
                                                    <label for="tg-cabservice">Electrician</label>
                                                </span>

                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="tg-cardealer" name="subcategories" value="Car Dealer">
                                                    <label for="tg-cardealer">General Contractor</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="tg-rebtacar" name="subcategories" value="Rent A Car">
                                                    <label for="tg-rebtacar">Carpenter</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="tg-rebtacar" name="subcategories" value="Rent A Car">
                                                    <label for="tg-rebtacar">HandymanGardner</label>
                                                </span>
                                                <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categoryModal">View All</a>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <h4>Filter By Location</h4>
                                            <div class="tg-checkboxgroup">
                                                <div class="form-group">
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>Select Country</option>
                                                            <option>Pakistan</option>

                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>Select City</option>
                                                            <option>Lahore</option>

                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group tg-inpuicon">
                                                    <input type="text" name="zipcode" class="form-control" placeholder="Zip Codes">
                                                </div>


                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <h4>Filter By Language</h4>
                                            <div class="tg-checkboxgroup">
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="alllanguages" name="languages" value="all languages" checked="">
                                                    <label for="alllanguages"> All Languages</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="chinese" name="languages" value="Chinese">
                                                    <label for="chinese">English</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="english" name="languages" value="English">
                                                    <label for="english">Urdu</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="french" name="languages" value="French">
                                                    <label for="french">Pashto</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="german" name="languages" value="German">
                                                    <label for="german">Punjabi</label>
                                                </span>
                                                <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categoryModal">View All</a>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <h4>Filter By Rating</h4>
                                            <div class="tg-checkboxgroup tg-ratingcheckbox">
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="nostar" name="ratingfilter" value="nostar">
                                                    <label for="nostar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="onestar" name="ratingfilter" value="onestar">
                                                    <label for="onestar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="twostar" name="ratingfilter" value="twostar">
                                                    <label for="twostar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="threestar" name="ratingfilter" value="threestar">
                                                    <label for="threestar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="fourstar" name="ratingfilter" value="fourstar">
                                                    <label for="fourstar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="fivestar" name="ratingfilter" value="fivestar">
                                                    <label for="fivestar"><span class="tg-stars"><span></span></span></label>
                                                </span>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <h4>Misc</h4>
                                            <div class="tg-checkboxgroup">
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="offerfreeinspection" name="misc" value="Offer Free Inspection">
                                                    <label for="offerfreeinspection">Offer Free Inspection</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="onlineappointment" name="misc" value="Online Appointment">
                                                    <label for="onlineappointment">Online Appointment</label>
                                                </span>
                                                <span class="tg-checkbox">
                                                    <input type="checkbox" id="withprofilephoto" name="misc" value="With Profile Photo">
                                                    <label for="withprofilephoto">With Profile Photo</label>
                                                </span>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <button class="tg-btn" type="submit">apply</button>
                                            <button class="tg-btn" type="reset">reset</button>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="tg-filters" style="padding: 5px;">
                                    @{
                                        var resCOunt=0;
                                        if (Model.listing!=null && Model.listing.Count >0)
                                        {
                                            resCOunt = Model.listing.Count-1;
                                        }
                                    <span class="tg-totallistingfound"><span id="placeCount">@resCOunt</span> Results Found</span>
                                }
                                    @*<div class="tg-sortfilters">
                                        <div class="tg-sortfilter tg-sortby">
                                            <span>Sort By:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>Name</option>
                                                    <option>Type</option>
                                                    <option>date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-arrange">
                                            <span>Arrange:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>des</option>
                                                    <option>Asc</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-show">
                                            <span>Show:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>12</option>
                                                    <option>24</option>
                                                    <option>all</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                                <div id="tg-themescrollbar" class="tg-themescrollbar tg-listingscrollbar" style="overflow-y: auto;height: 500px;">
                                    <div class="row" id="contractorsLeftList">
                                        @{
                                            if (Model != null && Model.listing != null)
                                            {
                                                foreach (var item in Model.listing)
                                                {
                                                    if (string.IsNullOrEmpty(item.CatName))
                                                    {
                                                        continue;
                                                    }
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom: 1px solid #00000038;padding-top: 5px;padding-bottom: 5px;">
                                                        <div class="tg-serviceprovider tg-automotive" style="margin-bottom: 0px;">
                                                            <figure class="tg-featuredimg" style="width: 110px">
                                                                <img src="@item.image" alt="image description">
                                                                @*<figcaption>
                                        <a class="tg-themetag tg-categorytag" href="">@item.CatName</a>
                                        <a class="tg-heart tg-liked" href="javascript:void(0);"></a>
                                    </figcaption>*@
                                                            </figure>
                                                            <div class="tg-companycontent">
                                                                <ul class="tg-tags">
                                                                    <li><a class="tg-tag tg-featuredtag">@item.CatName</a></li>
                                                                    @*<li><a class="tg-tag tg-verifiedtag" >verified</a></li>*@
                                                                </ul>
                                                                <div class="tg-title">
                                                                    <h3><a href="~/Contractor/ViewProfile?userId=@item.id">@item.title</a></h3>
                                                                </div>
                                                                <ul class="tg-matadata">
                                                                    @*<li><span class="tg-stars"><span></span></span></li>*@
                                                                    <li>
                                                                        <i class="fa fa-thumbs-o-up"></i>
                                                                        <em>@item.score (@item.votes votes)</em>
                                                                    </li>
                                                                </ul>
                                                                <div class="tg-companycontactinfo" style="display: none; padding-top: 2px;width: 108%;padding-bottom: 3px;" id="op_@item.id">
                                                                    <span data-toggle="tooltip" data-placement="top" title="Click to view Number" data-last="34 - 562 - 6">@item.Phone</span>
                                                                    <br />
                                                                    <span data-toggle="tooltip" data-placement="top" title="Click to view Email" data-last="domain.com"><a href="mailto:query@domain.com">@item.Email</a></span>


                                                                </div>
                                                                <a style="margin-top: 4px;margin-left: 0px !important;" class="tg-btn btn-margin-left" href="~/Contractor/ViewProfile?userId=@item.id">View Profile</a>
                                                                @*<button class="tg-btn" type="buttton" data-toggle="modal" data-target=".tg-appointmentModal">Contact</button>*@
                                                                <button style="margin-top: 4px; @disCatStyle" class="tg-btn btn-margin-left" onclick="showOpps(@Json.Encode(item.id))">Hire</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--************************************
                Main End
        *************************************-->
    <!--************************************
    Footer Start
    *************************************-->

        <!-- line modal -->
    <div class="modal fade" id="addressmodel" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">Add Location</h3>
                    </div>
                    <div class="modal-body" style="height: 460px;">

                        <!-- content goes here -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="pac-input" placeholder="Search">
                        </div>
                        <div class="form-group">
                            <div id="map" style="height: 400px; width: 570px"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Close</button>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" id="saveImage" class="btn btn-primary btn-hover-green" data-action="save" role="button" onclick="saveLoc()">Find Contractors</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        
        function searchContractors() {
            var distance = $('#locDistance').val();
            var locPoint = "";
            if (selectedLoc !== undefined) {
                locPoint = selectedLoc.lat + "_" + selectedLoc.lng;
            } else {
                locPoint = pos.lat + "_" + pos.lng;
            }
            var server = {};
            server.LocationCords = locPoint;
            server.CategoryId = $('#jobCatList').val();
            server.Distance = distance;
            postMydata(server, 'FindContractor', successFun);
        }
        function postMydata(serverObj, url, successFunc) {
            $('#adminLoading').show();
            $.ajax({
                url: url,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: JSON.stringify(serverObj),
                success: successFunc,
                error: function (data) {
                    $('#adminLoading').hide();
                    toastr.error("Job failed to update");
                }
            });
        }
        function successFun(serverData) {
            $('#adminLoading').hide();
            $('#contractorsLeftList').html(serverData);
            if (newplaces.listing.length - 1 < 0) {
                $('#placeCount').text(0);
            } else {
                $('#placeCount').text(newplaces.listing.length-1);
  
            }

            sp_init_map_script('tg-map',newplaces);
        }

        var infoWindow, pos, map, selectedLoc=undefined,locName=undefined;
        var markersArray = [];
        function initAutocomplete() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 31.503912, lng: 74.331631 },
                zoom: 15,
                mapTypeId: 'roadmap'
            });
            infoWindow = new google.maps.InfoWindow;
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    pos = {
                        lat: 31.503912,// position.coords.latitude,
                        lng: 74.331631//position.coords.longitude
                    };
                    //  getAddress(position.coords.latitude, position.coords.longitude);
                    getAddress(pos.lat, pos.lng);
                    setTimeout(function() {
                        searchContractors();
                    }, 500);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                } else {
                    selectedLoc = {};
                    selectedLoc.lat = places[0].geometry.location.lat();
                    selectedLoc.lng = places[0].geometry.location.lng();
                    locName = places[0].formatted_address;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });

            //Add listener
            google.maps.event.addListener(map, 'click', function (event) {
                clearOverlays();
                var marker = new google.maps.Marker({ position: event.latLng, map: map });
                selectedLoc = {};
                selectedLoc.lat = event.latLng.lat();
                selectedLoc.lng = event.latLng.lng();
                markersArray.push(marker);
            });
        }
        function clearOverlays() {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
        function getAddress(lat, lng) {
            var geocoder  = new google.maps.Geocoder();             // create a geocoder object
            var location = new google.maps.LatLng(lat, lng);    // turn coordinates into an object          
            geocoder.geocode({ 'latLng': location }, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) { // if geocode success
                    var add = results[0].formatted_address; // if address found, pass to processing function
                    $('#locationName').val(add);
                }
            });
        }
        function openMap() {
            setTimeout(function () {
                google.maps.event.trigger(map, 'resize');
                infoWindow.setPosition(pos);
                infoWindow.setContent('Your Location');
                infoWindow.open(map);
                map.setCenter(pos);
            }, 1000);
        }
        
        function saveLoc() {
            if (selectedLoc == undefined) {
                toastr.error("Please select location");
            } else {
                $('#addressmodel').modal('hide');
                $('#locationCord').val((selectedLoc.lat + "_" + selectedLoc.lng));
                if (locName === undefined) {
                    getAddress(selectedLoc.lat, selectedLoc.lng);
                } else {
                    $('#locationName').val(locName);
                }
                searchContractors();
            }
            return;
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnRflqywXFgknXTzSG-BP3MmM8N1ZyOrQ&libraries=places&callback=initAutocomplete"></script>
        <footer id="tg-footer" class="tg-footer tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--18 December 2017 Changes by Usama Ikram-->
                        <ul class="tg-features">
                            <li>
                                <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-screen"></i>
                                    </span>
                                    <div class="tg-featurecontent">
                                        <h3>Online Portal</h3>
                                        <span>Technicians can provide services on weekdays, weekends and during the odd hours</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-users"></i>
                                    </span>
                                    <div class="tg-featurecontent">
                                        <h3>Verified Technicians</h3>
                                        <span>Taken an extra step and verified their background and skills</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-laptop-phone"></i>
                                    </span>
                                    <div class="tg-featurecontent">
                                        <h3>User Friendly Focused</h3>
                                        <span>Attention to detail for rich user experience</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--18 December 2017 Changes by Usama Ikram-->
                    </div>
                    <div class="tg-fourcolumns">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="tg-footercolumn">
                                @{
                                    <strong class="tg-logo"><a href="~/home/index"><img src="@baseUrl/Images/logo.png" alt="image description"></a></strong>

                                }

                                <div class="tg-description">
                                    <p>We offer our services at your door step without <a href="">more...</a></p>
                                </div>
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="lnr lnr-location"></i>
                                        <address>292 Johar Town F-Block Lahore Pakistan</address>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-phone-handset"></i>
                                        <span>+92 30844991</span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-envelope"></i>
                                        <span><a href="mailto:admin@kamsham.com">admin@kamsham.com</a></span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-construction"></i>
                                        <span><a href="mailto:complaints@kamsham.com">complaints@kamsham.pk</a></span>
                                    </li>
                                </ul>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="tg-footercolumn tg-widget tg-widgettwitter">
                                <div class="tg-widgettitle">
                                    <h3>Latest Tweets</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li>
                                            <div class="tg-description"><p>Another milestone achieved. We just launched our Mobile app..</p></div>
                                            <a href="http://www.domainurl.com ">http://www.kaamshaam.pk</a>
                                            <time datetime="2016-08-08">2 hours ago</time>
                                        </li>
                                        @*<li>
                                            <div class="tg-description"><p>Get Special Discount on Independence Day...</p></div>
                                            <a href="http://www.domainurl.com ">http://www.kaamshaam.pk</a>
                                            <time datetime="2016-08-08">3 hours ago</time>
                                        </li>*@
                                        @*<li><a class="tg-btn tg-btnviewall" href="https://twitter.com">view all</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="tg-footercolumn tg-widget tg-widgetusefullinks">
                                <div class="tg-widgettitle">
                                    <h3>Useful Links</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a href="~/Job/findJobs">Find Jobs</a></li>
                                        <li><a href="~/Contractor/FindContractor">Hire Contractors</a></li>
                                        @*<li><a href="#">Carriers</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">KaamShaam Org</a></li>
                                        <li><a href="#">Press Releases</a></li>
                                        <li><a href="#">Summit 2016</a></li>*@

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="tg-footercolumn tg-widget tg-widgetfreeinspection">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="tg-widgettitle">
                                        <h3>Let Us Know</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <h5 style="color: #aaa;">Over All Experience</h5>
                                        <select id="feedbackDd" style="background-color: #3c3c3c; color: white;">
                                            <option value="Amazing Experience">Amazing Experience</option>
                                            <option value="Great People, Great Experience">Great People, Great Experience</option>
                                            <option value="Satisfactory Services">Satisfactory Services</option>
                                            <option value="Need Improvements">Need Improvements</option>
                                            <option value="Complaint">Complaint</option>


                                        </select>
                                        <textarea id="feedbackDsc" style="background-color: #3c3c3c; color: white; height: 165px; width: 263px; margin-top: 9px" cols="20" rows="50"></textarea>
                                        <button onclick="sendFeedback()" class="btn btn-primary" style="background-color: #3c3c3c; color: white; margin-top: 9px" id="feedBtn">SEND FEEDBACK</button>

                                    </div>
                                }
                                else
                                {
                                    <div class="tg-widgettitle">
                                        <h3>Offer Free Inspection</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul>
                                            <li>
                                                @{
                                                    <figure><a href="#"><img src="@baseUrl/Images/logos/img-01.png" alt="image description"></a></figure>

                                                }
                                                <div class="tg-contentbox">
                                                    <h4><a href="#">Lahore Cleaning Service</a></h4>
                                                    <ul class="tg-matadata">
                                                        <li><span class="tg-stars"><span></span></span></li>
                                                        <li>
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                            <em>0% (0 votes)</em>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                @{
                                                    <figure><a href="#"><img src="@baseUrl/Images/logos/img-02.png" alt="image description"></a></figure>

                                                }
                                                <div class="tg-contentbox">
                                                    <h4><a href="#">Karachi Hardwares</a></h4>
                                                    <ul class="tg-matadata">
                                                        <li><span class="tg-stars"><span></span></span></li>
                                                        <li>
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                            <em>99% (0 votes)</em>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><a href="#"><img src="@baseUrl/Images/logos/img-03.png" alt="image description"></a></figure>
                                                <div class="tg-contentbox">
                                                    <h4><a href="#">Humayio Computer Works</a></h4>
                                                    <ul class="tg-matadata">
                                                        <li><span class="tg-stars"><span></span></span></li>
                                                        <li>
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                            <em>0% (0 votes)</em>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            @*<li><a href="javascript:void(0);">view all</a></li>*@
                                        </ul>
                                    </div>
                                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tg-footerbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span>Copyright &copy; 2017 All Rights Reserved - Kaam Sham</span>
                            <nav class="tg-footernav">
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Term and Conditions</a></li>
                                    <li><a href="@baseUrl/Home/Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--************************************
                Footer End
        *************************************-->
    </div>
    <!--************************************
            Wrapper End
    *************************************-->
<script>
    var mydata = @Html.Raw(Json.Encode(Model)); 
</script>
    <script src="~/Scripts/vendor/jquery-library.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    @*<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>*@

    <script src="~/Scripts/mapclustering/markerclusterer.min.js"></script>
    <script src="~/Scripts/mapclustering/infobox.js"></script>
    <script src="~/Scripts/mapclustering/map.js"></script>

    <script src="~/Scripts/readmore.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollbar.min.js"></script>
    <script src="~/Scripts/prettyPhoto.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/gmap3.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/toastr.js"></script>


</body>
</html>





<script>


    jQuery(document).ready(function(e) {

        sp_init_map_script('tg-map',mydata);

        var rootParm = window.location.href.split("?");
        if (rootParm.length > 1) {
            var values = rootParm[1].split("=");
            if (values.length > 1) {
                $('#jobCatList').val(values[1]);
            }
        }
        // searchContractors();
    });
</script>
<!--************************************
        Hire Modal Box Start
*************************************-->
<div class="modal fade tg-appointmentModal" tabindex="-1">
    <div class="modal-dialog tg-modaldialog" role="document">
        <div class="modal-content tg-modalcontent">
            <div class="tg-modalhead">
                <a class="tg-closemodal" href="javascript:void(0);" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                <h2>Want To Hire This Person</h2>
            </div>
            <form class="tg-themeform tg-formappointment">
                <div class="tg-modalbody">
                    <form method="post" id="job-form">
                        <div class="row clearfix">
                            <div class="post-job2-panel">
                                <form class="row">
                                    <div class="col-md-12 col-sm-6 col-xs-12">

                                        <p> NOTE: Please Fill The Form To Get The Contact Number</p>
                                        <div class="form-group">
                                            <label>Job Title</label>
                                            <input type="text" placeholder="Job Title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" placeholder="Job Location" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Job Category</label>
                                            <select class="questions-category form-control" multiple="multiple">
                                                <option value="0">Electricians</option>
                                                <option value="1">Carpenters</option>
                                                <option value="2">Plumbers</option>
                                                <option value="3">General Contractor</option>
                                                <option value="4">Handyman</option>
                                                <option value="5">Air Conditioning</option>
                                                <option value="5">Gardeners</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Job Type</label>
                                            <select class="questions-category form-control">
                                                <option value="0">Full Time</option>
                                                <option value="1">Part Time</option>
                                                <option value="2">Remote</option>
                                                <option value="3">Freelancer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="tg-btnbox">
                            <button class="tg-btn" type="submit">continue</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--************************************
        Hire Modal Box End
*************************************-->
<script>
    var citymap = {
        chicago: {
            center: {lat: 31.476535115002306, lng: 74.32158172130585},
            population: 2714856
        }
    };
    $('#adminLoading').hide();
    
  

    $('#jobCatList').change(function() {
        searchContractors();
    });

    function distanceSliderUpdated(value) {
        searchContractors();
    }

    function showOpps(id) {
       
            var isAuth = @Json.Encode(Request.IsAuthenticated);
            if (isAuth) {
                $("#op_" + id).fadeIn("slow");
                toastr.success("Please cotact this contractor to apply on your job if you want to hire.");
                postVisit(id);
            } else {
                toastr.error("You need to login to contact this contractor. Please read the policies.");
            }
              
    }


    function postVisit (id) {
        var server = {
            VistedOf:id
        };
        postMydata(server, '../ProfileVisitor/AddNewVisit', successProfileVisit);
        $('#adminLoading').hide();
    }
    function successProfileVisit() {
        
    }
</script>